In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

interpolation_data = pd.read_csv(r'C:\Users\OJH\OneDrive\SKKU\연구자료\Catalyst AI\New Database\Na_W_Mn_Cat_preprocess_interpolation.csv')

interpolation_data

      Unnamed: 0  Temperature  pCH4_per_pO2  Contact time  Y(C2)_predicted
0              0       1092.0           2.1         0.150        16.146929
1              1       1124.0           2.2         0.150        17.852878
2              2       1175.0           2.0         0.150        23.288527
3              3       1123.0           2.7         0.150        17.690870
4              4       1151.0           2.7         0.150        20.950115
...          ...          ...           ...           ...              ...
9373        9373       1187.0           6.0         1.152        20.409223
9374        9374       1187.0           6.0         1.224        20.409223
9375        9375       1187.0           6.0         1.296        20.409223
9376        9376       1187.0           6.0         1.368        20.409223
9377        9377       1187.0           6.0         1.440        20.409223

[9378 rows x 5 columns]

In [2]:
interpolation_data = interpolation_data.drop(['Unnamed: 0'], axis=1)

In [3]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
interpolation_data = scaler.fit_transform(interpolation_data)

In [4]:
scaled_rev_data = pd.DataFrame(interpolation_data, columns=['Temperature', 'pCH4_per_pO2', 'Contact time', 'YC2'])
interpolation_data

array([[0.79525862, 0.22      , 0.10416667, 0.59438291],
       [0.86422414, 0.24      , 0.10416667, 0.65718043],
       [0.97413793, 0.2       , 0.10416667, 0.85727156],
       ...,
       [1.        , 1.        , 0.9       , 0.7512818 ],
       [1.        , 1.        , 0.95      , 0.7512818 ],
       [1.        , 1.        , 1.        , 0.7512818 ]])

In [5]:
train_set_mask_final = (
    scaled_rev_data['Temperature'].between(0.05, 0.95) &
    scaled_rev_data['pCH4_per_pO2'].between(0.05, 0.95) &
    scaled_rev_data['Contact time'].between(0.05, 0.95)
)
test_set_mask_final = ~train_set_mask_final

In [6]:
# Applying the masks to split the data
train_set = scaled_rev_data[train_set_mask_final]
test_set = scaled_rev_data[test_set_mask_final]

(    Temperature  pCH4_per_pO2  Contact time       YC2
 0      0.795259          0.22      0.104167  0.594383
 1      0.864224          0.24      0.104167  0.657180
 3      0.862069          0.34      0.104167  0.651217
 4      0.922414          0.34      0.104167  0.771193
 22     0.754310          0.20      0.381944  0.731876,
    Temperature  pCH4_per_pO2  Contact time       YC2
 2     0.974138          0.20      0.104167  0.857272
 5     0.967672          0.40      0.104167  0.784252
 6     0.989224          0.40      0.104167  0.828064
 7     0.987069          0.34      0.104167  0.890081
 8     0.857759          0.24      0.013889  0.582280)

In [7]:
# Splitting the data into the train and test sets
train_set = interpolation_data[train_set_mask]
test_set = interpolation_data[test_set_mask]

NameError: name 'train_set_mask' is not defined

In [104]:
train_set

      Temperature  pCH4_per_pO2  Contact time       YC2
0        0.795259      0.220000      0.104167  0.594383
1        0.864224      0.240000      0.104167  0.657180
3        0.862069      0.340000      0.104167  0.651217
4        0.922414      0.340000      0.104167  0.771193
22       0.754310      0.200000      0.381944  0.731876
...           ...           ...           ...       ...
1001     0.888889      0.888889      0.444444  0.599836
1002     0.888889      0.888889      0.555556  0.599836
1003     0.888889      0.888889      0.666667  0.599836
1004     0.888889      0.888889      0.777778  0.599836
1005     0.888889      0.888889      0.888889  0.599836

[564 rows x 4 columns]

In [105]:
test_set

      Temperature  pCH4_per_pO2  Contact time       YC2
2        0.974138          0.20      0.104167  0.857272
5        0.967672          0.40      0.104167  0.784252
6        0.989224          0.40      0.104167  0.828064
7        0.987069          0.34      0.104167  0.890081
8        0.857759          0.24      0.013889  0.582280
...           ...           ...           ...       ...
1112     1.000000          1.00      0.555556  0.751282
1113     1.000000          1.00      0.666667  0.751282
1114     1.000000          1.00      0.777778  0.751282
1115     1.000000          1.00      0.888889  0.751282
1116     1.000000          1.00      1.000000  0.751282

[553 rows x 4 columns]